<aside class="panel panel-default property">

	<header class="panel-heading">
		<h4 class="panel-title">{{ post.title }}</h4>
	</header>

	{% if post.image %}
	<a href="{{ post.url | prepend: site.baseurl }}" class="embed-responsive embed-responsive-16by9">
		<img src="{{ post.image | prepend: '/images/' | prepend: site.baseurl }}" alt="" class="center-v-block">
	</a>
	{% endif %}

	<div class="panel-body">
		<p>
			{{ post.excerpt }}
		</p>
		<a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-dark btn-sm">
			Learn More
		</a>
	</div>

</aside>
