.jumbotron {
	background-position: center;
	background-size: cover;
	padding: 85px 0;

	color: #fff;
	text-shadow: -1px 0px 20px #000;
	border-radius: 0.1px;

	h1 > small { color: #fff; }
}

#jumbo-home {

}
