---
layout: page
title: Properties
permalink: /properties/
---

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a></li>
	<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Residential</a></li>
	<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Commercial</a></li>
</ul>

<!-- Tab panes -->
<!-- <div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="all">...</div>
<div role="tabpanel" class="tab-pane" id="profile">...</div>
<div role="tabpanel" class="tab-pane" id="messages">...</div>
<div role="tabpanel" class="tab-pane" id="settings">...</div>
</div> -->

{% for post in site.properties %}
<div class="col-sm-4">
	{% include properties/property.html %}
</div>
{% endfor %}
